
body {
  background-color: #C0C0C0;
}

#uwc_base {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 940px;   // facebook standard
}

#uwc_splash {
  text-align: center;
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;
  top: 50%;
}

h1 {

}

#uwc_room {
  width: 512px;
}

#uwc_chatroom {
  width: 100%;
  height: 90%;
  position: relative;
  top: 10%;
  vertical-align: bottom;
  border: 1px solid green;
}

.hidden {
  display: none;
}

/* Autocomplete Style */
.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

