body {
  padding: 0;
  margin: 0;
}
body, #uwc_splash {
  background: #22252a;
  color: #eee;
}
body, table {
  font-family: Helvetica, fixed; 
  font-size: 14pt;
  line-height: 150%;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#uwc_chat {
   position:absolute;
   opacity:0.0;
}

#loading, #connect {
  background: #22252a;
  width: 100%;
  height: 100%;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#logo {
}

#stripes {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
  width: 82px;
  height: 100%;
  background: transparent url('/images/stripes.png') repeat-y scroll 0 0;
}

#loading p, #connect fieldset  {
  font-family: Helvetica, fixed; 
  width: 30em;
  border: 0;
}

#toolbar {
  position: fixed;
  color: #fff;
  width: 100%; 
  bottom: 0;
  border-top: 1px solid #3FA9F5;
}

#entry {
  background-color: #000;
  font-size: inherit;
  border: none;
  padding: 0.2em;
  margin: 0;
  clear: both;
  color: #FFF;
  width: 100%;
}

#log {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  margin-top: 63px;
  padding-bottom: 28px; 
  background: inherit;
  overflow: hidden;
  opacity:0.0;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #555; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #cd5; }

.message {
  margin: 0.1em 0;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}

#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: block; 
  float: left;
  margin: 0 2em 0 0;
}

#uwc_base {
  height: 500px;
}

#uwc_splash {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
  z-index: 3;
}

#uwc_splash .content {
  padding-top: 30px;
  padding-bottom: 10px;
}

#uwc_divider {
  opacity: 0;
  width: 100%;
  height:3px;
  background-color: #3FA9F5;
}

#uwc_splash.top {
  width: 100%;
  height: 20px;
  position: relative;
  vertical-align: top;
  top: 0%;
}

#uwc_splash.top h1 {
  display: inline;
}

#uwc_splash.top #connect {
  width: 90%;
  float: right;
}

#uwc_room {
  width: 512px;
}


/* Autocomplete Style */
.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
